body {
  background-color: #ebeae6;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans", sans-serif;
}
h2 {
  font-family: "IBM Plex Mono", monospace;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  background-color: #363636;
  padding-left: 400px;
  padding-right: 400px;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 14px;
  text-decoration: none;
  font-size: 11pt;
  font-family: "Noto Sans", sans-serif;
}
li a:hover {
  background-color: #f68e36;
  font-weight: bolder;
}
.container-content {
  margin-bottom: 20px;
}
footer {
  background-color: #011926;
  color: white;
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 12pt;
}
.content {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 12pt;
}
img {
  height: 400px;
  align-content: center;
  border: 1px solid grey;
  border-radius: 5px;
}
.text > p {
  padding: 15px;
}
button {
  background-color: #f68e36;
  text-transform: uppercase;
  color: white;
  border: 1px solid #f68e36;
  border-radius: 5px;
  font-weight: bolder;
  padding-top: 8px;
  padding-bottom: 8px;
}
.text > button {
  padding-right: 50px;
  padding-left: 50px;
}
footer > button {
  margin-top: 2px;
  margin-bottom: 20px;
  padding-left: 90px;
  padding-right: 90px;
}
