body {
  background-color: #ebeae6;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans", sans-serif;
}
h2 {
  font-family: "IBM Plex Mono", monospace;
}

footer {
  background-color: #011926;
  color: white;
  padding-top: 20px;

  font-size: 12pt;
}
.head-container {
  grid-template-rows: auto auto;
}
.content {
  display: grid;
  grid-template-columns: auto auto;
  height: auto;
  font-size: 12pt;
  padding-bottom: 20px;
}
img {
  height: 400px;
  align-content: center;
  border: 1px solid grey;
  border-radius: 5px;
}
.text > p {
  padding: 15px;
}
button {
  background-color: #f68e36;
  text-transform: uppercase;
  color: white;
  border: 1px solid #f68e36;
  border-radius: 5px;
  font-weight: bolder;
  padding-top: 8px;
  padding-bottom: 8px;
}
.text > button {
  padding-right: 50px;
  padding-left: 50px;
}
footer > button {
  margin-top: 2px;
  margin-bottom: 20px;
  padding-left: 90px;
  padding-right: 90px;
}
@media screen and (max-width: 480px) {
  .content {
    /* display: grid;
    grid-template-columns: auto auto;
    font-size: 12pt; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  img {
    /* height: 400px;
    align-content: center;
    border: 1px solid grey;
    border-radius: 5px; */
    max-width: 100%;
  }
  .text > p {
    padding: 15px;
    font-size: 11pt;
  }
  .text > button {
    padding-right: 50px;
    padding-left: 50px;
  }
  footer > button {
    margin-top: 2px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  footer {
    padding-bottom: 30px;
  }
  footer > p {
    font-size: 10pt;
  }
}
@media screen and (max-width: 1980) {
  .container-content {
    height: auto;
  }
  .text > p {
    padding: 15px;
    font-size: 16pt;
  }
  .text > button {
    padding-right: 90px;
    padding-left: 90px;
  }
  footer > button {
    margin-top: 2px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  footer {
    padding-bottom: 30px;
  }
  footer > p {
    font-size: 14pt;
  }
}
